*.suo
*.sdf
*.opensdf
*.user
*.vsmdi
*.VisualState.xml
*.testsettings
bin/
Debug/
Distribute/
ipch/
obj/
packages/
Release/
TestResults/
/_ReSharper.*
/ARM/
/*.nupkg
*.ReSharper.*
TestResult.xml
*.StyleCop
